/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f9;
}

header {
  background: white;
  color: black;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav .logo {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav .cta {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(100%);
}

.hero .content {
  text-align: left;
  max-width: 600px;
  margin-left: 50px;
}

h1 {
  font-size: 64px;
  font-weight: 600;
  margin: 0 0 10px;
}

p {
  font-size: 20px;
  margin: 20px 0;
}

.cta-button {
  background-color: #27ae60;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #2ecc71;
}

/* New section for AI-Driven protection */
#about-section {
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-content {
  max-width: 50%;
}

.text-content h4 {
  font-size: 14px;
  font-weight: 600;
  color: #27ae60;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.text-content .cta-link {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid #000;
}

.image-content img {
  max-width: 500px;
  border-radius: 8px;
}

/* Feature section */
#features {
  padding: 60px 100px;
  background-color: #f0f4f8;
}

.features-container {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 30%;
}

.feature-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
}

.feature-item h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Styles for the Sign Up Page */
#signup,
#login {
  padding: 100px 0;
  text-align: center;
  background-image: url("/images/hero-image.png");
  background-size: cover;
  background-position: center;
}

.signup-container,
.login-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.signup-container h1,
.login-container h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #333;
}

.signup-container label,
.login-container label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
  color: #333;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="tel"],
.login-container input[type="email"],
.login-container input[type="tel"],
.login-container input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Adjustments for Key and Generate Button */
.signup-container .key-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px; /* Increased spacing to avoid overlap */
}

.signup-container .key-container input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.signup-container .key-container button {
  height: 100%; /* Make button height match input field */
  align-self: stretch; /* Ensure button is aligned with the input */
}

.signup-container button,
.login-container button {
  padding: 12px 30px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container button:hover,
.login-container button:hover {
  background-color: #2ecc71;
}

.signup-container .note,
.login-container .note {
  display: block;
  font-size: 14px;
  color: #777;
  margin-top: -5px; /* Slight adjustment */
  margin-bottom: 20px;
}

/* Form buttons - Submit and Go Back */
.signup-container button#submit-btn,
.login-container button#login-btn {
  width: 100%;
  margin-bottom: 15px;
}

.signup-container button#go-back,
.login-container button#go-back {
  background-color: #ccc;
}

.signup-container button#go-back:hover,
.login-container button#go-back:hover {
  background-color: #bbb;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 14px;
}
.btn {
  background-color: #ffffff; /* Green background */
  color: rgb(0, 0, 0); /* White text */

  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block element */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Cursor pointer */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.btn:hover {
  background-color: #afafaf; /* Darker green when hovered */
}

#overview {
  padding: 100px 0;
  text-align: center;
  background-image: url("/images/hero-image.png"); /* Background image */
  background-size: cover;
  background-position: center;
}

.overview-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slightly transparent white background */
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add some depth with shadow */
}

.overview-container h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #333;
}

.overview-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.overview-container table,
.overview-container th,
.overview-container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.overview-container th {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
}

.overview-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.overview-container tr:hover {
  background-color: #f1f1f1;
}

.overview-container td {
  text-align: center;
}
